# Игнорировать папку виртуального окружения
venv/
.venv/
env/

# Игнорировать кэш Python
*__pycache__/
*.py[cod]
*$py.class

# Игнорировать логи
logs/
*.log

# Игнорировать скрытые файлы и директории
.*
!.gitignore

# Игнорировать IDE-специфичные файлы
.vscode/
.idea/